#footer {
  background-color: #c99f76;
  padding: 0;
  padding-top: 0.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
  visibility: visible;
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  z-index: 10;
  bottom: auto;
  margin-top: auto;
}

@media (max-width: 1160px) {
  #footer ul{
   display: grid !important;
    grid-template-columns: repeat(2, 1fr) !important;
}
}

@media (max-width: 760px) {
  #footer ul {
    grid-template-columns: 1fr !important;
  }
  #footer ul li {
    margin-top: 5%;
    margin-bottom: 5%;
  }
}

#footer ul{
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  text-align: center;
}

#footer ul li{
  display: flex;
  flex-direction: column;
  align-items: center; 
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 24px;

}

#footer ul li span{
  text-align: center;
  border-bottom: 1.55px black solid;
  padding-bottom: 1.5px;
   width: fit-content;
}

#footer ul li a {
  width: 80%;
  height: 80%;
  margin: 0 auto;
}
#footer ul li img {
  width: 100%;
  height: 100%;
  color: white;
}

.Copyright {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 0.3rem 2rem;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  color: white;
  margin-top: 0.3em;
  text-align: center;
  padding: 0;
}
.Copyright p {
  margin: 0;
  display: inline;
}

#footer > .Copyright > .dedalo {
  display: flex;
  flex-direction: column; /* Cambia a columna para alinear verticalmente */
  justify-content: flex-end;
  width: 100%;
  height: 20%;
  margin-top:auto ;
}

.dedalo_image{
  height: 1.4em;
  vertical-align: text-bottom;
  transition: all 0.35s linear;
}
.dedalo_image:hover {
  transform: scale(1.05);
  opacity: 1;
  }

#footer > .Copyright> .dedalo  > p{
  display: inline;
  margin:0;
  font-size: 0.8rem;
  color: white;
  text-align: center;

}
/*
#footer {
  background-color: #c99f76;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: black;
  opacity: 1;
  transition: opacity 0.35s ease-in-out;
  visibility: visible;
  overflow-x: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}
#footer.hidded {
  opacity: 0;
  visibility: hidden;
}
#footer a {
  color: #ffffff;
}
#footer a:hover {
  color: #b7996d !important;
}
#footer > section {
  width: 100%;
  text-align: left;
}
#footer > section h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-transform: initial;
  font-variant: small-caps;
  letter-spacing: 0.5em;
  font-size: 2.25em;
}
#footer .inner {
  width: 80%;
  margin: 0 auto;
}
#footer .inner ul {
  display: block;
  color: #ffffff !important;
  list-style-type: none;
}
#footer .inner li {
  list-style-type: none;
}
#footer .inner .footer-section-wrapper {
  color: #b7996d;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
#footer .inner .footer-section-wrapper > ul:first-child {
  width: 125%;
}
#footer .inner .footer-section-wrapper > ul:nth-child(4),
#footer .inner .footer-section-wrapper > ul:nth-child(5) {
  width: 65%;
}
#footer .inner .footer-section-wrapper ul {
  margin: 0;
  width: 90%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
#footer .inner .footer-section-wrapper ul li {
  margin: 0;
  padding: 0;
  flex: 1 1;
  line-height: 1.2em;
}
#footer .inner .footer-section-wrapper > ul {
  margin-bottom: 0.5rem;
}
#footer .inner .footer-section-wrapper a {
    color: black;
  text-decoration: none;
  border: none;
}

@media (max-width: 1160px) {
  #footer .inner .footer-section-wrapper {
    flex-flow: column;
  }
}
#footer .inner .footer-copyright-wrapper {
  margin: 0 auto;
}
#footer .inner .logos {
  margin: auto;
  margin-top: 1em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  width: 90%;
  height: 4em;
  filter: sepia(100%) saturate(0) brightness(50%);
  opacity: 0.75;
  transition: all 0.35s linear;
}
#footer .inner .logos:hover {
  filter: initial;
  opacity: 1;
}
@media print {
  #footer .inner .logos {
    filter: unset;
  }
}

#footer .inner ul.logos {
  margin-top: 2em;
  margin-bottom: 2em;
}
#footer .inner ul.logos > li {
  filter: sepia(100%) saturate(0) brightness(50%);
  opacity: 0.75;
  transition: all 0.35s linear;
}
#footer .inner ul.logos > li:hover {
  filter: initial;
  opacity: 1;
}
@media print {
  #footer .inner ul.logos > li {
    filter: unset;
  }
}
#footer .inner ul.copyright {
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  margin-top: 0.8em;
  margin-bottom: 1em;
  opacity: 0.8;
  font-size: 0.9em;
  padding-bottom: 0;
  padding-top: 0;
}
#footer .inner ul.copyright .logo_dedalo {
  height: 1.15em;
  vertical-align: text-bottom;
}
@media (max-width: 1160px) {
  #footer .inner ul.copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media (max-width: 842px) {
  #footer .inner ul.copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #footer .inner .copyright li {
    line-height: 1;
    line-height: inherit;
    text-align: center;
  }
}*/