#footer {
  background-color: #c99f76;
  padding: 0;
  padding-top: 0.75em;
  padding-bottom: 0.75em;
  color: black;
  opacity: 1;
  transition: opacity 0.35s ease-in-out;
  visibility: visible;
  overflow-x: hidden;
  position: absolute;
  bottom: 0;
  width: 100%;
}
#footer.hidded {
  opacity: 0;
  visibility: hidden;
}
#footer a {
  color: #cccccc;
}
#footer a:hover {
  color: #b7996d !important;
}
#footer > section {
  width: 100%;
  text-align: left;
}
#footer > section h2 {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  text-transform: initial;
  font-variant: small-caps;
  letter-spacing: 0.5em;
  font-size: 2.25em;
}
#footer .inner {
  width: 80%;
  margin: 0 auto;
}
#footer .inner ul {
  display: block;
  color: #ffffff !important;
  list-style-type: none;
}
#footer .inner li {
  list-style-type: none;
}
#footer .inner .footer-section-wrapper {
  color: #b7996d;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-start;
}
#footer .inner .footer-section-wrapper > ul:first-child {
  width: 125%;
}
#footer .inner .footer-section-wrapper > ul:nth-child(4),
#footer .inner .footer-section-wrapper > ul:nth-child(5) {
  width: 65%;
}
#footer .inner .footer-section-wrapper ul {
  margin: 0;
  width: 90%;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
#footer .inner .footer-section-wrapper ul li {
  margin: 0;
  padding: 0;
  flex: 1 1;
  line-height: 1.2em;
}
#footer .inner .footer-section-wrapper > ul {
  margin-bottom: 0.5rem;
}
#footer .inner .footer-section-wrapper a {
    color: black;
  text-decoration: none;
  border: none;
}
#footer .inner .footer-section-wrapper .footer-section-txt {
  border-bottom: solid 1px #f0f0f0;
  color: #b7996d;
  margin-top: 0.25rem;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.4rem;
}
#footer .inner .footer-section-wrapper .footer-links-a {
  font-size: 1rem;
}
#footer .inner .footer-section-wrapper img.footer_image_item {
  width: 100%;
  object-position: left;
  object-fit: contain;
  max-height: 6rem;
  opacity: 0.75;
  transition: all 0.35s linear;
}
#footer .inner .footer-section-wrapper img.footer_image_item:first-of-type {
  margin-top: 12px;
}
#footer .inner .footer-section-wrapper img.footer_image_item:hover {
  opacity: 1;
  filter: initial;
}
@media (max-width: 1160px) {
  #footer .inner .footer-section-wrapper {
    flex-flow: column;
  }
}
#footer .inner .footer-copyright-wrapper {
  margin: 0 auto;
}
#footer .inner .logos {
  margin: auto;
  margin-top: 1em;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: left;
  width: 90%;
  height: 4em;
  filter: sepia(100%) saturate(0) brightness(50%);
  opacity: 0.75;
  transition: all 0.35s linear;
}
#footer .inner .logos:hover {
  filter: initial;
  opacity: 1;
}
@media print {
  #footer .inner .logos {
    filter: unset;
  }
}

#footer .inner ul.logos {
  margin-top: 2em;
  margin-bottom: 2em;
}
#footer .inner ul.logos > li {
  filter: sepia(100%) saturate(0) brightness(50%);
  opacity: 0.75;
  transition: all 0.35s linear;
}
#footer .inner ul.logos > li:hover {
  filter: initial;
  opacity: 1;
}
@media print {
  #footer .inner ul.logos > li {
    filter: unset;
  }
}
#footer .inner ul.copyright {
  justify-content: center;
  align-items: baseline;
  flex-wrap: wrap;
  margin-top: 0.8em;
  margin-bottom: 1em;
  opacity: 0.8;
  font-size: 0.9em;
  padding-bottom: 0;
  padding-top: 0;
}
#footer .inner ul.copyright .logo_dedalo {
  height: 1.15em;
  vertical-align: text-bottom;
}
@media (max-width: 1160px) {
  #footer .inner ul.copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
@media (max-width: 842px) {
  #footer .inner ul.copyright {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  #footer .inner .copyright li {
    line-height: 1;
    line-height: inherit;
    text-align: center;
  }
}