#header {
  margin-bottom: 1.5rem;
  background-color: #ff9632;
}
#header .pre_alert {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 60px 60px 0 0;
  border-color: #ff0000 transparent transparent transparent;
}
#header .pre_alert:before {
  content: "PRE";
  font-size: 14px;
  color: white;
  position: absolute;
  top: -53px;
  left: 7px;
  transform: rotate(316deg);
  font-weight: 500;
}

#header > .head_inner > a.logo {
  position: relative;
  background-color: #c99f76;
  background-repeat: no-repeat;
  height: 5em;
  margin: 0;
  box-shadow: 0px 3px 20px #a1a1a175;
   z-index: 8;
  display: flex;     /* apilar verticalmente */
  align-items: center;
  box-sizing: border-box;
}
#header > .head_inner > a.logo > .col_izq > .header-image {
  height: 4.5em;
  width: auto;
  display: block;
}
#header > .head_inner > a.logo > .col_cen > p {
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  display: block;
  margin: auto;
  white-space: nowrap;
  font-size: 3em;
}
.tit_1 {
  color: white;
}
.tit_2 {
  color: white;
}
@media screen and (max-width: 520px) {
  #header > .head_inner > a.logo > .title {
    background-image: url("../../assets/images/logo_head-08.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 7em;
  }
}
@media screen and (max-width: 736px) {
  #header > .head_inner > a.logo {
    width: 100%;
  }
  #header > .head_inner > a.logo > .col_cen > p {
  white-space: wrap;
  font-size: 2em;
  line-height: 1.2;
  }
}

@media screen and (max-width: 520px) {
  #header > .head_inner > a.logo {
    height: 4em;
  }
   #header > .head_inner > a.logo > .col_izq > .header-image {
    height: 3.5em;
  }
  #header > .head_inner > a.logo > .col_cen > p {
  white-space: wrap;
  font-size: 1.5em;
  line-height: 1.2;
  }
}
#header nav {
  top: 1em;
  display: inline-block;
}
@media screen and (min-width: 1280px) {
  #header nav {
    top: 1em;
  }
}
@media screen and (max-width: 736px) {
  #header nav {
    right: 1em;
    top: 1em;
  }
}
@media screen and (max-width: 520px) {
  #header nav {
    right: 0.5em;
    top: 0.5em;
  }
}
#header nav .logo {
  margin: 0;
}
#header .header_warning {
  background-color: #f0f0f0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 2em;
}
#header .header_warning > img {
  height: 1.2em;
  margin: 0.5em;
}
#header .header_warning > span {
  font-size: 0.9em;
  font-weight: 400;
  color: #aaa;
  padding: 0.3em;
  text-transform: uppercase;
  letter-spacing: 1px;
}
#header .symbol img {
  height: 6em !important;
}
#header .symbol .title {
  font-size: 3em !important;
  text-shadow: -2px -2px 0 #333333, 2px -2px 0 #333333, -2px 2px 0 #333333, 2px 2px 0 #333333;
}
@media screen and (max-width: 736px) {
  #header {
    padding-top: 0;
  }
}