#main{
  width: 100%;
}

.inner {

  max-width: 78em !important;

}

.parallax{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.parallax img{
  position: absolute;
  width: 100%;
  z-index: 1;

}


.section{
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4rem;
  color: black;
}

.section p{
  font-size: 2.0vh;
  margin-bottom: 1rem;
  margin-left: 2rem;
}

.section img{

  width: 550px;
  height: auto;
  opacity: 0;
  transition: transform 0.2s linear, opacity 0.2s linear;
  margin-right: 5rem;
}

@media screen and (max-width: 1300px) {
  .parallax{
    display: none;
  }

  .section img{
    width: 300px;
    opacity: 1;
  }
}

@media screen and (max-width: 800px) {
  
  .section{
    flex-direction: column;
    padding: 2rem;
    text-align: center;
  }
  
  .section img{
    width: 300px;
    margin-right: 0;
    margin-bottom: 30px;
  }
}